<%= render partial: "decidim/shared/component_announcement" %>

<% if current_component.settings.maps_enabled? && search.result.not_online.exists? %>
  <%= cell "decidim/meetings/meetings_map", search.result %>
<% end %>

<div class="br-container-lg">
  <div class="row columns">
    <div class="title-action">
      <% if allowed_to?(:create, :meeting) %>
        <%= action_authorized_link_to :create, new_meeting_path, class: "title-action__action button small", data: { "redirect_url" => new_meeting_path } do %>
          <%= t("new_meeting", scope: "decidim.meetings.meetings.index") %>
          <%= icon "plus", role: "img", "aria-hidden": true %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="br-row">
    <div class="columns mediumlarge-4 large-3">
      <% if browser.mobile? %>
          <div class="meetings-button__container">
            <%= render partial: "filters_small_view" %>
          </div>
      <% end %>
      <div class="card card--secondary show-for-mediumlarge ">
        <%= render partial: "filters" %>
      </div>
    </div>
    <div id="meetings" class="columns mediumlarge-8 large-9" aria-live="polite">
      <%= render partial: "meetings" %>
    </div>
  </div>
</div>
