.meetings-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;

  .column > .card {
    border-top-width: 8px;
    border-top-color: var(--blue-vivid-10);
  }
}

.meetings-count-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  gap: 6px;
}

.meetings-count-text {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.meeting-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > button {
    margin: 0;
  }

  padding: 1rem 0;
}

.meetings-button__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.meetings__button-circle {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--blue-warm-vivid-70);
  position: relative;
  z-index: 10;
}

.meetings__button-circle:hover {
  background-color: rgba(var(--interactive-rgb), var(--hover));
}

.card-grid > div {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card-meeting__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}

.meeting-counter-text {
  font-size: 14px;
  font-weight: 600;
}

.comments-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.comment__deleted {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  padding: 1rem;
}

.br-comments-count {
  color: var(--blue-warm-vivid-80);
  font-size: 1.25rem !important;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.comments_blocked_warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--blue-warm-vivid-80);
}
.extra {
  .author-data {
    flex-direction: column;
  }
  .extra__date-container {
    margin-bottom: 0;
  }

  .author-data__main,
  .author-data__extra {
    margin: 0;
  }
}

.row-gallery {
  margin-right: auto;
  margin-left: auto;
  max-width: auto;
}

.header-meetings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  gap: 1rem;

  .title {
    margin: 0;
    color: var(--blue-warm-vivid-80);
    font-size: 2.25rem;
    font-weight: 600;
  }
}

.admin-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.admin-tools {
  flex: 1;
}

.export-buttons {
  display: flex;
  gap: 8px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.export-close-button {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.export-calendar-input {
  width: 94%;
}

.calendar-export {
  font-size: 26px;
}

.date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-size: 1rem;
  color: var(--blue-warm-vivid-70);
  justify-content: center;
}

.date-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 120px;
  text-align: center;
  color: var(--gray-90);
}

.date-label {
  color: var(--blue-warm-vivid-70);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.label-dou {
  color: var(--blue-warm-vivid-70);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rawline;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.dou-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.publish-date-dou {
  color: var(--gray-60);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.process-home-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.colorful-card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: 4px;
  background-color: var(--blue-warm-vivid-5);
}

.colorful-card p {
  margin: 0;
  padding: 0;
}

.second-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 390px;
  padding: 28px 0 0 0;
}

.ministry-text {
  color: var(--blue-warm-vivid-70);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.process-group-text {
  padding: 0 16px;
  margin: 0 0 16px 0;
  font-size: 1rem;

  i {
    color: var(--blue-warm-vivid-70);
  }
}

@media (min-width: 640px) {
  .meetings-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
  .process-home-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .date-container {
    justify-content: flex-end;
  }

.publish-date-dou {
  text-align: right;
  }

}