<%= content_tag :div, id: "comment_#{model.id}", class: comment_classes, data: { depth: model.depth, comment_id: model.id, toggler: ".no-comments" } do %>
  <% if model.hidden? %>
    <%= render :moderation_data %>
  <% elsif model.deleted? %>
    <%= render :deletion_data %>
  <% else %>
    <div class="comment__header">
      <div class="author-data">
        <div class="author-data__main">
          <%= render :author %>
            <% if model.status == "rejected" %>
              <% accepted_icon = "" %>
              <% rejected_icon = "<i class='fa-solid fa-check comment_check'></i>" %>
              <span class="ml-2 br-comment alert" id="tag-status-01">Rejeitada</span>
            <% elsif model.status =="accepted" %>
              <% accepted_icon = "<i class='fa-solid fa-check comment_check'></i>" %>
              <% rejected_icon = "" %>
              <span class="ml-2 br-comment accepted" id="tag-status-03">Incorporada</span>
            <% end %>
          <% if edited? %>
            <div class="author-data__extra">
              <span class="comment__edited">
                <%= t("decidim.components.comment.edited") %>
              </span>
            </div>
          <% end %>
        </div>
      </div>

      <span class="comment-settings">
        <span>publicado em: <%= time_tag created_at, l(created_at, format: :decidim_short) %></span>
        <%= render :utilities %>
      </span>
    </div>
    <div class="comment__content">
      <%= alignment_badge %>
      <%= depth < 1? comment_body : "<strong>Resposta:</strong>\n\n".concat(comment_body).html_safe%>
    </div>
    <div class="comment__footer">      
      <div class="comment__footer_votes">
        <% if current_user.present? && current_user.admin && depth < 1  %>
          <div>
            <div class="d-flex align-items-center feedback-buttons">
                <%= button_to "<i class='fa-solid fa-sm fa-x'></i> Rejeitar".html_safe,
                  update_comment_status_path(id: model.id, status: "rejected"), method: :patch,remote: true,
                  id:"tag04", class:"br-button reject-button #{'selected' if model.status == 'rejected'}" %>
                <%= button_to "<i class='fa-solid fa-sm fa-check'></i> Incorporar".html_safe,
                  update_comment_status_path(id: model.id, status: "accepted"), method: :patch,remote: true,
                  id:"tag04", class:"br-button accept-button #{'selected' if model.status == 'accepted'}" %>
            </div>
          </div>
        <% end %>
      </div>
      <%= render :actions %>
    </div>
  <% end %>
  <div id="comment-<%= model.id %>-replies" class="replies">
    <% if has_replies_in_children? %>
      <% replies.each do |reply| %>
        <%= cell("decidim/comments/comment", reply, root_depth: root_depth, order: order, reloaded: reloaded?) %>
      <% end %>
    <% end %>
  </div>
  <% if can_reply? %>
    <div class="comment__additionalreply<%= " hide" %> replies">
      <button class="br-button" aria-controls="<%= reply_id %>" data-toggle="<%= reply_id %>">
        <i class="fa-solid fa-sm fa-comment-dots"></i>
        <%= t("decidim.components.comment.reply") %>
      </button>
    </div>
    <div class="add-comment hide" id="<%= reply_id %>" data-toggler=".hide">
      <%== cell("decidim/comments/comment_form", model, root_depth: root_depth, order: order) %>
    </div>
  <% end %>
  <% if depth < 1 %>
  <span class="br-divider sm my-1"></span>
  <% end %>
<% end %>
