<% if current_user.try(:admin?) %>
  <div class="comment__header__context-menu">
    <label for="<%= context_menu_id %>" data-toggle="<%= context_menu_id %>">
      <i class="fa-solid fa-ellipsis fa-2x"></i>
    </label>
    <ul id="<%= context_menu_id %>" data-dropdown data-close-on-click="true" data-position="left" data-alignment="top" class="card dropdown-pane comment__header__context-menu__content">
      <% if model.authored_by?(current_user) %>
        <li>
          <button type="button" class="link-alt comment__header__context-menu__content-item" data-open="<%= "editCommentModal#{model.id}" %>" title="<%= t("decidim.components.comment.edit") %>" aria-controls="<%= "editCommentModal#{model.id}" %>" aria-haspopup="dialog" tabindex="0">
            <i class="fa-solid fa-pen-to-square fa-md"></i>
            <span><%= t("decidim.components.comment.edit") %></span>
          </button>
        </li>
        <li>
          <%= link_to comment_path, remote: true, method: :delete, class: "comment__header__context-menu__content-item", data: { confirm: t("decidim.components.comments.confirm_destroy") } do %>
            <i class="fa-solid fa-trash-can fa-md"></i>
            <span><%= t("decidim.components.comment.delete") %></span>
          <% end %>
        </li>
        <li>
          <button type="button" class="link-alt comment__header__context-menu__content-item" data-open="<%= current_user.present? ? "flagModalComment#{model.id}" : "loginModal" %>" title="<%= t("decidim.components.comment.report.title") %>" aria-controls="<%= current_user.present? ? "flagModalComment#{model.id}" : "loginModal" %>" aria-haspopup="dialog" tabindex="0">
            <i class="fa-solid fa-flag fa-md"></i>
            <span><%= t("decidim.components.comment.report.action") %></span>
          </button>
        </li>
      <% end %>
    </ul>
  </div>
  <% unless reloaded? %>
    <% if current_user.present? %>
      <%= cell("decidim/flag_modal", model, modal_id: "flagModalComment#{model.id}") %>
    <% end %>
    <% if model.authored_by?(current_user) %>
      <%= cell("decidim/comments/edit_comment_modal_form", model, modal_id: "editCommentModal#{model.id}") %>
    <% end %>
  <% end %>
<% end %>
